---
import Navbar from '../components/islands/Navbar.svelte';
import MainFooter from '../components/MainFooter.astro';
import BackToTop from '../components/islands/BackToTop.svelte';
import SoftSnap from '../components/islands/SoftSnap.svelte';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Inmobiliaria Astro 5.0 - Premium Real Estate" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="robots" content="noindex, nofollow">
	</head>
	<body class="bg-gray-50 min-h-screen font-sans text-gray-900">
		<Navbar client:load />
		
		<slot />

		<MainFooter />
		<BackToTop client:load />
		<SoftSnap client:load />
	</body>
</html>
